@import "tailwindcss";

#root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@theme {
  --color-rabbit-red: #ea2e0e;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
}
